
body {
	background-color: grey;
	color: white;
}

.hidden {
	display: none;
}

textarea {
	width: 40%;
	height: 4%;
}

input {
	width: 40%;
	height: 15px;
}

#invalid {
	color: orange;
}

#calculate {
	position: absolute;
	left: 45%;
	width: 30%;
	height: 5%;
	border-radius: 12px;
	
}

.filler {
	height: 5px;
}

.filler2 {
	width: 100px;
}

.select {
	width: 40%;
	text-align-last: center;
}

#inputs {
	position: absolute;
	width: 30%;
	height: 98%;
	left: 5%;
}

.efficiency {
	float: right;
	padding-right: 1px;
}

#hze {
	width: 10%;
}

#macros {
	position: absolute;
	width: 20%;
	height: 100%;
	left: 35%;
	top: 0%;
	background-color: #999999;
}

.macro {
	position: relative;
	width: 60%;
	height: 5%;
	left: 20%;
	border-radius: 8px;
}

.macroZone {
	position: relative;
	width: 58%;
	left: 20%;
}

#offset5Label {
	display: block;
	position: relative;
	float: left;
	white-space: nowrap;
}

#results {
	position: absolute;
	width: 40%;
	height: 100%;
	left: 55%;
	top: 0%;
	background-color: #666666;
	padding-left: 5px;
}

.table {
	border-style: solid;
	border-width: 1px;
}

#faq {
	position: absolute;
	width: 15%;
	height: 8%;
	right: 4.5%;
	bottom: 0%;
	background-color: #CCCCCC;
}

#faqScreen {
	position: absolute;
	width: 98%;
	height: 91%;
	max-height: 91%;
	overflow-y: scroll;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #111111;
	color: yellow;
	font-size: 250%;
	outline-style: none;
}

.answer {
	font-size: 50%;
}